@model ProductViewModel
@{
    ViewData["Title"] = "Index";
}

<!-- Quick Overview -->
<partial name="/Views/Product/Partials/_IndexHeaderTiles.cshtml" />
<!-- END Quick Overview -->
<!-- All Products -->
<div class="block block-rounded">

    <partial name="/Views/Product/Partials/_IndexDropdownFilters.cshtml" />

    <partial name="/Views/Product/Partials/_IndexSearch.cshtml" />

    <div class="block-content">
        <!-- All Products Table -->
        <div class="table-responsive">
            <table class="table table-borderless table-striped table-vcenter">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 100px;">ID</th>
                        <th class="d-none d-sm-table-cell text-center">Name</th>
                        <th class="d-none d-md-table-cell text-center">Serial</th>
                        <th class="d-none d-md-table-cell text-center">Description</th>
                        <th class="d-none d-md-table-cell text-center">Category</th>
                        <th class="d-none d-md-table-cell text-center">Date</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td class="text-center fs-sm">
                                <a class="fw-semibold" href="be_pages_ecom_product_edit.html">
                                    <strong>@item.ProductId</strong>
                                </a>
                            </td>
                            <td class="d-none d-sm-table-cell text-center fs-sm">@item.Name</td>
                            <td class="d-none d-sm-table-cell text-center fs-sm">@item.Serial</td>
                            <td class="d-none d-sm-table-cell text-center fs-sm">@item.Description</td>
                            <td class="d-none d-sm-table-cell text-center fs-sm">@item.Category.Name</td>
                            <td class="d-none d-sm-table-cell text-center fs-sm">@item.DateAdded</td>
                            <td class="text-center fs-sm">
                                <a class="btn btn-sm btn-alt-secondary" href="/Product/Update?id=@item.ProductId">
                                    <i class="fa fa-fw fa-pen"></i>
                                </a>
                                <a class="btn btn-sm btn-alt-secondary" onclick="confirmDelete(@item.ProductId)">
                                    <i class="fa fa-fw fa-times text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- END All Products Table -->
        <!-- Pagination -->
        <partial name="/Views/Product/Partials/_IndexPaginationButtons.cshtml" />
        <!-- END Pagination -->
    </div>
</div>

<partial name="/Views/Product/Partials/_IndexScripts.cshtml" />

