@model ProductRegisterViewModel
@{
    ViewData["Title"] = "Index";
}

<!-- Quick Overview -->
<div class="row items-push">
    <div class="col-6 col-lg-3">
        <a class="block block-rounded block-link-shadow text-center h-100 mb-0" href="/ProductRegister/new">
            <div class="block-content py-5">
                <div class="fs-3 fw-semibold text-success mb-1">
                    <i class="fa fa-plus"></i>
                </div>
                <p class="fw-semibold fs-sm text-success text-uppercase mb-0">
                    Yeni Zimmet Ekle
                </p>
            </div>
        </a>
    </div>
</div>
<!-- END Quick Overview -->
<!-- All Products -->
<div class="block block-rounded">

    <partial name="/Views/ProductRegister/Partials/_IndexDropdownFilters.cshtml" />

    <partial name="/Views/ProductRegister/Partials/_IndexSearch.cshtml" />

    <div class="block-content">
        <!-- All Products Table -->
        <div class="table-responsive">
            <table class="table table-borderless table-striped table-vcenter">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 100px;">ID</th>
                        <th class="d-none d-sm-table-cell text-center">Ürün İsmi</th>
                        <th class="d-none d-md-table-cell text-center">Seri No</th>
                        <th class="d-none d-md-table-cell text-center">Açıklama</th>
                        <th class="d-none d-md-table-cell text-center">Kategori</th>
                        <th class="d-none d-md-table-cell text-center">Tarih</th>
                        <th class="d-none d-md-table-cell text-center">Kullanıcı</th>
                        <th class="text-center">Aksiyonlar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductRegisters)
                    {
                        <tr>
                            <td class="text-center fs-sm">
                                <a class="fw-semibold" href="be_pages_ecom_product_edit.html">
                                    <strong>@item.ProductId</strong>
                                </a>
                            </td>
                            <td class="d-none d-sm-table-cell text-center fs-sm">@item.Product.Name</td>
                            <td class="d-none d-sm-table-cell text-center fs-sm">@item.Product.Serial</td>
                            <td class="d-none d-sm-table-cell text-center fs-sm">@item.Product.Description</td>
                            <td class="d-none d-sm-table-cell text-center fs-sm">@item.Product.Category.Name</td>
                            <td class="d-none d-sm-table-cell text-center fs-sm">@item.RegistirationDate.ToShortDateString()</td>
                            <td class="d-none d-sm-table-cell text-center fs-sm">@item.AppUser.Email</td>
                            <td class="text-center fs-sm">
                                <button class="btn btn-sm btn-alt-secondary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-default-fadein"
                                    data-prod-id="@item.ProductId"
                                    data-product-id="@item.ProductRegistirationId">
                                    <i class="fa fa-fw fa-pen"></i>
                                </button>
                                <a class="btn btn-sm btn-alt-secondary" href="/ProductRegister/remove?id=@item.ProductRegistirationId">
                                    <i class="fa fa-fw fa-times text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="/Views/ProductRegister/Partials/_UpdateProductRegister.cshtml" />

@section Scripts {
    <partial name="/Views/ProductRegister/Partials/_IndexScripts.cshtml" />
}

