@model SearchViewModel

<!--Products-->
<div class="tab-pane fade show active" id="search-classic" role="tabpanel" aria-labelledby="search-classic-tab" tabindex="0">
    <div class="fs-3 fw-semibold pt-2 pb-4 mb-4 text-center border-bottom">
        <span class="text-primary fw-bold">@Model.Products.Count</span> Ürün Bulundu <mark class="text-danger">TrackIT</mark>
    </div>
    <div class="table-responsive">
        <table class="table table-borderless table-striped table-vcenter">
            <thead>
                <tr>
                    <th class="text-center" style="width: 100px;">ID</th>
                    <th class="d-none d-sm-table-cell text-center">Ürün İsmi</th>
                    <th class="d-none d-md-table-cell text-center">Seri Numarası</th>
                    <th class="d-none d-md-table-cell text-center">Açıklaması</th>
                    <th class="d-none d-md-table-cell text-center">Kategorisi</th>
                    <th class="d-none d-md-table-cell text-center">Tarihi</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Products.Count == 0)
                {
                    <tr>
                        <td colspan="7" class="d-none d-sm-table-cell text-center fs-sm">Veri yok</td>
                    </tr>
                }
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td class="text-center fs-sm">
                            <strong>@item.ProductId</strong>
                        </td>
                        <td class="d-none d-sm-table-cell text-center fs-sm">@item.Name</td>
                        <td class="d-none d-sm-table-cell text-center fs-sm">@item.Serial</td>
                        <td class="d-none d-sm-table-cell text-center fs-sm">@item.Description</td>
                        <td class="d-none d-sm-table-cell text-center fs-sm">@item.Category.Name</td>
                        <td class="d-none d-sm-table-cell text-center fs-sm">@item.DateAdded.ToShortDateString()</td>
                        <td class="text-center fs-sm">
                            <a class="btn btn-sm btn-alt-secondary" href="/Product/Update?id=@item.ProductId">
                                <i class="fa fa-fw fa-pen"></i>
                            </a>
                            <a class="btn btn-sm btn-alt-secondary" href="/Product/Detail?id=@item.ProductId">
                                <i class="fa fa-fw fa-clock-rotate-left"></i>
                            </a>
                            <a class="btn btn-sm btn-alt-secondary" onclick="confirmDelete(@item.ProductId)">
                                <i class="fa fa-fw fa-times text-danger"></i>
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    
</div>
<!-- END Products -->

<partial name="_SharedScripts" />
