@model SearchViewModel

<div class="tab-pane fade" id="search-photos" role="tabpanel" aria-labelledby="search-photos-tab" tabindex="0">
    <div class="fs-3 fw-semibold pt-2 pb-4 mb-4 text-center border-bottom">
        <span class="text-primary fw-bold">@Model.ProductRegistrations.Count</span> Zimmet Bulundu <mark class="text-danger">TrackIT</mark>
    </div>
    <div class="table-responsive">
        <table class="table table-borderless table-striped table-vcenter">
            <thead>
                <tr>
                    <th class="text-center" style="width: 100px;">ID</th>
                    <th class="d-none d-sm-table-cell text-center">Ürün İsmi</th>
                    <th class="d-none d-md-table-cell text-center">Seri No</th>
                    <th class="d-none d-md-table-cell text-center">Açıklama</th>
                    <th class="d-none d-md-table-cell text-center">Kategori</th>
                    <th class="d-none d-md-table-cell text-center">Tarih</th>
                    <th class="d-none d-md-table-cell text-center">Kullanıcı</th>
                    <th class="text-center">Aksiyonlar</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ProductRegistrations.Count == 0)
                {
                    <tr>
                        <td colspan="8" class="d-none d-sm-table-cell text-center fs-sm">Veri yok</td>
                    </tr>
                }
                @foreach (var item in Model.ProductRegistrations)
                {
                    <tr>
                        <td class="text-center fs-sm">
                            <strong>@item.ProductId</strong>
                        </td>
                        <td class="d-none d-sm-table-cell text-center fs-sm">@item.Product.Name</td>
                        <td class="d-none d-sm-table-cell text-center fs-sm">@item.Product.Serial</td>
                        <td class="d-none d-sm-table-cell text-center fs-sm">@item.Product.Description</td>
                        <td class="d-none d-sm-table-cell text-center fs-sm">@item.Product.Category.Name</td>
                        <td class="d-none d-sm-table-cell text-center fs-sm">@item.RegistirationDate.ToShortDateString()</td>
                        <td class="d-none d-sm-table-cell text-center fs-sm">@item.AppUser.Email</td>
                        <td class="text-center fs-sm">
                            <button class="btn btn-sm btn-alt-secondary"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-default-fadein"
                                data-prod-id="@item.ProductId"
                                data-product-id="@item.ProductRegistirationId">
                                <i class="fa fa-fw fa-pen"></i>
                            </button>
                            @if (!string.IsNullOrEmpty(item.FilePath))
                            {
                                <a class="btn btn-sm btn-alt-secondary" target="_blank" href="~/assets/productregistration/@item.FilePath">
                                    <i class="fa fa-fw fa-file-arrow-down"></i>
                                </a>
                            }
                            <a class="btn btn-sm btn-alt-secondary" href="/ProductRegister/remove?id=@item.ProductRegistirationId">
                                <i class="fa fa-fw fa-times text-danger"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
